@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'icomoon';
  src: url('../dist/fonts/icomoon.eot?7cgij3');
  src: url('../dist/fonts/icomoon.eot?7cgij3#iefix') format('embedded-opentype'),
    url('../dist/fonts/icomoon.ttf?7cgij3') format('truetype'),
    url('../dist/fonts/icomoon.woff?7cgij3') format('woff'),
    url('../dist/fonts/icomoon.svg?7cgij3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
