mixin main-menu
	.main__menu
		+main-menu-list({ title: 'Bakery' })
		+main-menu-list({ title: 'Fruit and vegetables' })
		+main-menu-list({ title: 'Meat and fish' })
		+main-menu-list({ title: 'Drinks' })
		+main-menu-list({ title: 'Kitchen' })
		+main-menu-list({ title: 'Special nutrition' })
		+main-menu-list({ title: 'Baby' })
		+main-menu-list({ title: 'Pharmacy' })